@model ListaOsobZaginionych.Models.OsobaZaginiona

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Jesteś pewny, że chcesz usunąć osobę zaginioną?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokalizacja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokalizacja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eyecolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eyecolor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haircolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haircolor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
    }
</div>
